<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta charset="utf-8"/>
    <title>Photo Gallery</title>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/site_layout.css"/>
    <link rel="stylesheet" type="text/css" href="css/swipebox.css"/>
    <link rel="stylesheet" type="text/css" href="css/gallery.css"/>
</head>
<body>
 <div class="container-fluid">
    <div class="row-fluid">
        <div class="span12" id="hideLeft">
            <div class="navbar navbar-top">
                <div class="navbar-inner">
                    <div id="title" class="brand">Photos</div>
                    <ul id="menu" class="nav">
                            <li><a href="index.html"><i class="icon-picture">&nbsp;</i>&nbsp;Home</a></li>
                    </ul>
                        <!--<div class="brand" style="float: right;">DESCR</div>-->
                </div>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span10 offset1">
            <div id="loading"></div>
            <div id="gallery"></div>
        </div>
    </div>
 </div>
 <div id="slideout">
    <div id="slideclick"></div>
    <div id="slidecontent">
        <h3>Albums</h3>
        <ul class="unstyled">
        </ul>
    </div>
 </div>
<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<script src="js/jquery.loadImage-min.js"></script>
<script src="js/jquery.swipebox-min.js"></script>
<script src="js/get_url_params.js"></script>
<script>
    var data = [];
    title = getQueryVariable("title")
    $(document).attr('title', title.replace(/\%20/gi, ' '));
    $('#title').html(title.replace(/\%20/gi, ' '));
    $.getJSON("/photos?album=" + getQueryVariable("album"), function(d){
        $.each(d, function (index, value) {
                $.each(value, function (index, photo) {
                    data.push({large:value.large,
                               thumb:value.thumb});
                });
        });
    $.getScript("js/gallery-min.js");
    });
</script>
<script>
$(document).ready(function() {
    var items = [];
    $.getJSON("/albums", function(data){
        //convert object to array so that browsers sort the same.
        //jQuery .each traverses differently in various browsers.
        var keys = Object.keys(data);
        for (var i = 0, ilen = keys.length; i < ilen; i++) {
            var item = [];
            for (var x = 0, xlen = data[keys[i]].albums.length; x < xlen; x++) {
                item.push('<li><a href="/gallery.html?album=' + data[keys[i]].albums[x].id + '&title=' + data[keys[i]].albums[x].title.replace(/_/gi, ' ') + '"><i class="icon-camera"></i>&nbsp;'  + data[keys[i]].albums[x].title.replace(/_/gi, ' ') + '</a></li>');
            }
            if (data[keys[i]].title !== "Root") {
            items.unshift('<li class="expanded"><a href=#><i class="icon-folder-close"></i>&nbsp;' + data[keys[i]].title + '</a><ul class="sublist">' + item.join('') + '</ul></li>');
            } else {
                items.push(item.join(''));
            }
        }
   $('#slidecontent ul').append( items.join(''))
   $("#slideclick").on("click", function () {
           if ($(this).parent().hasClass("popped")) {
               $(this).parent().animate({left: '-222px'}, {queue: false, duration: 500}).removeClass("popped");
           } else {
               $(this).parent().animate({left: "0px" }, {queue: false, duration: 500}).addClass("popped");
           }
       });
        $('ul ul').hide();
        $('ul li.expanded').removeAttr("href");
        $('ul li.expanded > a').click(function (event) {
            $(this).parent().find('ul').toggle('slow');
            $('i.icon-folder-close').toggleClass('icon-folder-open');
        });
    });
});
</script>
</body>
</html>