/* COMMON */
@import url('//fonts.googleapis.com/css?family=Josefin+Sans:300,400,700');
@import url('gallery.css');

body {
    overflow-y:auto;
    overflow-x: hidden;
    background-image:url('img/background_tile.png');
    /*background-size: cover;*/
    /*background-repeat:no-repeat;*/
    /*background-color: #424242;*/
    height: 100%;
    width: 100%;
    position: absolute;
    font-family: "Josefin Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    }

/* apply a natural box layout model to all elements */
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }

.pointPointArrow{
    width:16px;
    height:16px;
    background:url('img/arrow.png') no-repeat;
    position:absolute;
    display:none;
    z-index: 100000;
    top:0;
    left:0;
}

/* Embossed Look for class="depth" */
.depth {
    padding-left: 40px;
    top: 50px;
    display: block;
    color: black;
    font: bold 1.2em Arial, sans-serif;
    position: relative;
}

.depth:before, .depth:after {
    /*content: attr(title);*/
    content: '\2190 Click Me';
    padding-left: 40px;
    /*padding: 50px;*/
    color: rgba(255,255,255,.1);
    position: absolute;
}

.depth:before { top: 1px; left: 1px }
.depth:after  { top: 2px; left: 2px }
/* End here */


#center {
    float: none;
    margin: 0 auto;
    }

.navbar .navbar-inner {
    border: 1px solid rgba(196, 189, 191, 0.31);
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background: rgba(127, 128, 134, 0.60);
    /*background: rgba(254, 254, 254, 0.60);*/
    }

.navbar .brand {
    /*color: magenta;*/
    /*opacity: 0.6;*/
    /*text-shadow: 0 1px 0 rgb(207, 179, 216);*/
    /*color: magenta;*/
    color: rgba(0, 204, 255, 0.96);
    text-shadow: 0 1px 0 rgb(0,0,0);
    opacity: 0.9;
    font-weight: bold;
    }

.navbar .brand:hover {
    color: rgba(0, 204, 255, 0.96);
    }

.navbar .brand > a {
    color: #faebd7;
    }

.navbar .brand > a:hover {
    color: #ff0000;
    text-decoration: none;
    }

.navbar .nav>li>a {
    padding: 11px 8px 6px;
    color: #faebd7;
    }

.navbar .nav>li>a:hover {
    padding: 11px 8px 6px;
    color: rgba(0, 204, 255, 0.96);
    }

.navbar .nav .active>a, .navbar .nav .active>a:hover {
    background: None;
    -webkit-box-shadow: None;
    -moz-box-shadow: None;
    box-shadow: None;
    color: rgba(0, 204, 255, 0.96);
    font-weight: bold;
    }

/* END COMMON */

/* Pull-out menu */

#slideout {
    position:absolute;
    width:262px;
    height:100%;
    top: 0;
    left:-222px;
    }

#slideclick {
    position: relative;
    top: 150px;
    /*left: 20px;*/
    float:right;
    height:40px;
    width:40px;
    background:#EE8D40;
    background-image: url("img/camera.png");
    background-repeat: no-repeat;
    background-position:2px 3px;
    -webkit-border-top-right-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-radius-topright: 10px;
    -moz-border-radius-bottomright: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0 0 3px rgba(85, 85, 85, 0.29), 0 2px 4px #666666, 0 12px 18px rgba(85, 85, 85, 0.29);
    }

#slideout.popped > #slideclick {
    background: rgba(127, 128, 134, 0.60);
    background-image: url("img/arrow-close.png");
    background-repeat: no-repeat;
    background-position:4px 5px;
    opacity: 0.7;
    }

/*#slideclick h3 {
    position: relative;
    top: 32px;
    left: 1px;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    }*/

/*#slideout > #slideclick > img {
    position: relative;
    top: 2px;
    left: 3px;
    }

#slideout.popped > #slideclick > img {
    opacity: 0.5;
    }*/

#slidecontent {
    border: 1px solid rgba(196, 189, 191, 0.31);
    background: rgba(127, 128, 134, 0.60);
    width: 220px;
    height: 100%;
    /*padding: 30px 0 0 10px;*/
    /*float:right;*/
    /*color: #ffffff;*/
    /*text-align: center;*/
    overflow-y: auto;
    }

#slidecontent a {
    display: block;
    color: #faebd7;
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: none;
    border-bottom: 1px solid rgba(41, 41, 41, 0.53);
    /*text-transform: uppercase;*/
    /*padding: 1em;*/
    padding: 10px;
    }

#slidecontent a:hover {
    color: rgba(0, 204, 255, 0.96);
    /*font-size: 1.2em;*/
    /*font-weight: bolder;*/
    }

#slidecontent li.active > a {
    color: #EE8D40;
    display: block;
    font-size: 1.3em;
    font-weight: bold;
    text-decoration: none;
    }

#slidecontent h3 {
    color: rgba(0, 204, 255, 0.96);
    font-size: 20px;
    padding-left: 20px;
    margin: 0;
    font-weight: bold;
    background: rgba(127, 128, 134, 0.60);
    text-shadow: 0 1px 0 rgb(0,0,0);
    opacity: 0.9;
    }

    .icon-camera, .icon-folder-close, .icon-folder-open, .icon-home {
        opacity: 0.60;
        }

.sublist {
    list-style: none;
}

/* END PULL-OUT */

